
*{
    padding:0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

.logo{
    color: white;
    margin: 20px;
    font-size: 2rem;
}

.logo.on {
    display: none;
}

nav{
    display: none;
}

.menu-toggle{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
}

.one,
.two,
.three{
    background-color: green;
    width: 100%;
    height: 3px;
}

.menu-section.on{
    width: 100vw;
    height: 100vh;
background-color: green;

}